<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        #tp {
            background-color: #ccc;
            display: inline-block;
            margin-right: 2rem;
        }
    </style>
</head>

<body>
    <div id="demo">
        <button-counter v-for="i of 3" @count="getCount" :name="i"></button-counter>
        <p>C1: {{c1}}, C2: {{c2}}, C3: {{c3}}</p>

    </div>


    <script src='https://cdnjs.cloudflare.com/ajax/libs/vue/3.2.37/vue.global.js'
        integrity='sha512-9Vc284sv0s5PSp3I7M4OsV5rMl09djUv3rn+YRXUnNa3JyHv4NfbJgMypvX7P6gomnPMwt4PwULrYDTxNY88UQ=='
        crossorigin='anonymous'></script>

    <script>
        const vm = Vue.createApp({
            data() {
                return {
                    c1: 0,
                    c2: 0,
                    c3: 0,
                }
            },
            methods: {
                getCount(c, n) {
                    switch (n) {
                        case 1:
                            this.c1 = c;
                            break;
                        case 2:
                            this.c2 = c;
                            break;
                        case 3:
                            this.c3 = c;
                            break;
                    }
                }
            }
        });

        vm.component('button-counter', {
            props: ['name'],
            emit: ['count'],
            data() {
                return {
                    data: this.name,
                    countNum: 0
                }
            },
            template: `
            <template @click="countNum++;$emit('count',countNum,name)" id="tp">
                <p>You clicked me {{ countNum }} times!!</p>
                <span>name: {{data}}</span>
            </template>
            `
        })

        vm.mount("#demo");

    </script>

</body>

</html>